logs
npm-debug.log*
pids
*.pid
*.seed
*.iml
lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
node_modules
jspm_packages
.npm
.node_repl_history
.idea
.DS_Store
package-lock.json
public
build
target
config/index.jsx
!sample/config/index.jsx
src/main/resources/*
!src/main/resources/application.yml
# apps
# !apps/demo
