.ezy-button {
    display: inline-flex;align-items: center;justify-content: flex-start;
    height: 24px;margin: 0;padding: 0 $mapa/4;
    cursor: pointer;border: none;
    box-shadow: 1px 3px 7px rgba(0,0,0,.3);
    color: $button-color;
    background-color: $button-bg-color;
    outline: none;
    i {
        font-size: 16px;margin-right: 3px;
    }
    &:hover,&:focus {
        box-shadow: 1px 5px 7px rgba(0,0,0,.3);
        outline: none;
    }
}
