.ezy-button {
    display: inline-flex;align-items: center;justify-content: flex-start;
    height: $button-height;margin: 0;padding: 0 $mapa/4;
    cursor: pointer;border: none;
    box-shadow: $shadow;
    color: $button-color;
    background-color: $button-bg-color;
    outline: none;
    i {
        font-size: 16px;margin-right: 3px;
    }
    >* {
        margin: 0 $mapa/2;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &:hover,&:focus {
        box-shadow: $shadow-hover;
        outline: none;
    }
}
@media screen and (max-width: $mobile-w) {
    .ezy-button {
        >* {
            margin: 0 $mapa/4;
        }
    }
}
