html,body,#application,.page {
    position: fixed;top: 0;right: 0;bottom: 0;left: 0;flex-direction: column;
    display: flex;flex: 1;
}
body {
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
    background-color: $bg-color;
    margin: 0;padding: 0;
    * {box-sizing: border-box;}
    a {
        text-decoration: none;
        color: inherit;
        i {cursor: pointer;}
        &:hover {
            text-decoration: none;
            color: inherit;
        }
    }
    input[type=text],input[type=number],input[type=password],input[type=url],input[type=email] {
        margin: 0;padding: 0 3px;
        border: 0px solid $input-bd-color;
        outline: none;
        height: $input-height;
        font-size: $font-size;
        vertical-align: top;
        box-sizing: content-box;
        box-shadow: $shadow;
        flex: 1;
        min-width: 30px;
        &:hover {
            box-shadow: $shadow-hover;
        }
    }
    table {
        border-spacing: 0;
    }
    tr {
    }
    th, td {
        padding: 3px;
        margin: 0;
        vertical-align: middle;
        text-align: left;
    }
}
.flex1 {flex: 1;}
.flex2 {flex: 2;}
.flex3 {flex: 3;}
.flex4 {flex: 4;}
.flex5 {flex: 5;}
.flex6 {flex: 6;}
.space {flex: 1;}
.horizontal {
  display: flex;flex-direction: row;
  &.space-between {justify-content: space-between;}
  &.center {justify-content: center;}
  &.middle {align-items: center;}
  &.top-center {justify-content: center;align-items: flex-start;}
  &.top-left {justify-content: flex-start;align-items: flex-start;}
  &.top-right {justify-content: flex-end;align-items: flex-start;}
  &.bottom-center {justify-content: center;align-items: flex-end;}
  &.bottom-left {justify-content: flex-start;align-items: flex-end;}
  &.bottom-right {justify-content: flex-end;align-items: flex-end;}
}
.vertical {
  display: flex;flex-direction: column;
  &.center {align-items: center;}
  &.middle {justify-content: center;}
  &.top-center {justify-content: flex-start;align-items: center;}
  &.top-left {justify-content: flex-start;align-items: flex-start;}
  &.top-right {justify-content: flex-start;align-items: flex-end;}
  &.bottom-center {justify-content: flex-end;align-items: center;}
  &.bottom-left {justify-content: flex-end;align-items: flex-start;}
  &.bottom-right {justify-content: flex-end;align-items: flex-end;}
}
.card {
  background-color: white;
	border-radius: 7px;
	box-shadow: 1px 3px 62px 0 rgba(0, 0, 0, 0.09);
  color: #49516a;
  text-align: left;
  color: #777d90;
  box-shadow: 1px 3px 11px $primary;
  .card-title {
    border-bottom: 1px solid $bd-color;
    padding: $mapa/3;
    font-size: 110%;
    font-weight: 600;
  }
  .card-content {
    padding: $mapa/3;
    background-color: initial;
  }
  b, .bold {
    font-weight: 500;
  }
  &:hover {
    box-shadow: 1px 5px 11px $secondary;
  }
  .card-item {
    flex: 1;
    display: block;
    margin: 12px;
    > img {
      width: 100%;
    }
  }
}

.margin {margin: $mapa;}
.marginl {margin-left: $mapa;}
.marginr {margin-right: $mapa;}
.margint {margin-top: $mapa;}
.marginb {margin-bottom: $mapa;}
.bmargin {margin: $mapa*3/2;}
.bmarginl {margin-left: $mapa*3/2;}
.bmarginr {margin-right: $mapa*3/2;}
.bmargint {margin-top: $mapa*3/2;}
.bmarginb {margin-bottom: $mapa*3/2;}
.hmargin {margin: $mapa/2;}
.hmarginl {margin-left: $mapa/2;}
.hmarginr {margin-right: $mapa/2;}
.hmargint {margin-top: $mapa/2;}
.hmarginb {margin-bottom: $mapa/2;}
.smargin {margin: $mapa/3;}
.smarginl {margin-left: $mapa/3;}
.smarginr {margin-right: $mapa/3;}
.smargint {margin-top: $mapa/3;}
.smarginb {margin-bottom: $mapa/3;}

.padding {padding: $mapa;}
.paddingl {padding-left: $mapa;}
.paddingr {padding-right: $mapa;}
.paddingt {padding-top: $mapa;}
.paddingb {padding-bottom: $mapa;}
.bpadding {padding: $mapa*3/2;}
.bpaddingl {padding-left: $mapa*3/2;}
.bpaddingr {padding-right: $mapa*3/2;}
.bpaddingt {padding-top: $mapa*3/2;}
.bpaddingb {padding-bottom: $mapa*3/2;}
.hpadding {padding: $mapa/2;}
.hpaddingl {padding-left: $mapa/2;}
.hpaddingr {padding-right: $mapa/2;}
.hpaddingt {padding-top: $mapa/2;}
.hpaddingb {padding-bottom: $mapa/2;}
.spadding {padding: $mapa/3;}
.spaddingl {padding-left: $mapa/3;}
.spaddingr {padding-right: $mapa/3;}
.spaddingt {padding-top: $mapa/3;}
.spaddingb {padding-bottom: $mapa/3;}

.red {color: $red;background-color: $bg-red;}
.red-text {color: $red;}
.red-background {background-color: $bg-red;}
.green {color: $green;background-color: $bg-green;}
.green-text {color: $green;}
.green-background {background-color: $bg-green;}
.blue {color: $blue;background-color: $bg-blue;}
.blue-text {color: $blue;}
.blue-background {background-color: $bg-blue;}
.yellow {color: $yellow;background-color: $bg-yellow;}
.yellow-text {color: $yellow;}
.yellow-background {background-color: $bg-yellow;}
.tiny {font-size: 70%;}
.small {font-size: 90%;}
.big {font-size: 120%;}
.large {font-size: 180%;}
.huge {font-size: 240%;}
.giant {font-size: 400%;}
.images {
  display: block;justify-content: center;align-items: center;
  img {
    display: inline-block;
  }
}
i.fa {
  font-size: 20px;
}
.timeline {
  position: relative;
  display: flex;justify-content: center;align-items: center;flex-direction: column;
  margin: 123px 0;
  .circle {
    display: flex;justify-content: center;align-items: center;
    width: 123px;height: 123px;border-radius: 50%;
  	background-color: rgba(73, 81, 106, .6);
  	box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.23);
    font-size: 32px;text-align: center;color: #8c9ab7;
    margin: 40px 0;
    &:first-child {
      margin-top: -60px;
    }
    &:last-child {
      margin-bottom: -60px;
    }
  }
  .note {
    position: relative;
    background-color: transparent;
    display: flex;justify-content: center;align-items: center;
    margin-top: -15px;
    margin-bottom: 15px;
    max-width: 360px;
    padding: 0 18px;height: 64px;border-radius: 29px;
  	border: 1px dashed #979797;
    font-size: 14px;line-height: 1.25;text-align: center;color: #777d90;
    &.orange {
      border-color: $orange;
    }
    &.left {
      &:after {
        content: '';display: block;
        height: 1px;width: 80px;
        border: 1px dashed #979797;opacity: .5;
        position: absolute;left: 100%;top: 50%;
      }
    }
    &.right {
      &:before {
        content: '';display: block;
        height: 1;width: 80px;
        border: 1px dashed #979797;opacity: .5;
        position: absolute;right: 100%;top: 50%;
      }
    }
  }
  &:before {
    content: '';display: block;width: 0;height: 100%;
    // z-index: -1;
    opacity: .1;
    border: 1px dashed #979797;
    position: absolute;top: 0;left: 50%;
  }
}
.social {
  display: flex;justify-content: center;align-items: center;
  i {
    display: flex;justify-content: center;align-items: center;
    width: 47px;height: 47px;border-radius: 50%;
    background-color: rgba(0,0,0,.1);
    box-shadow: 1px 2px 3px rgba(0,0,0,.3);
    &:hover {
      color: $secondary;background-color: white;
      box-shadow: 1px 2px 3px $secondary;
    }
  }
  >* {
    margin-left: 9px;
    &:first-child {
      margin-left: 0;
    }
  }
}
.slick-dots li.slick-active, .slick-dots li button:hover {
  button:before {
    color: $secondary;
  }
}
.facebook, .twitter, .linkedin, .medium, .github, .telegram, .email {
  text-decoration: none;
  &:focus,&:active {
    text-decoration: none;
  }
}
