.content {
    overflow: hidden;
    position: fixed;top: $header-height;right: 0;bottom: $footer-height;left: 0;
    color: $content-color;
    background-color: $content-bg-color;
    display: flex;
    flex-direction: column;
    .content-wrapper {
        flex: 1;
    }
    .content-left {
        display: none;
        position: fixed;top: $header-height;bottom: $footer-height;left: 0;width: $content-left-width;
        color: $content-left-color;
        background-color: $content-left-bg-color;
    }
    .content-main {
        overflow: auto;
        position: fixed;top: $header-height;bottom: $footer-height;left: 0;right: 0;
        color: $content-main-color;
        background-color: $content-main-bg-color;
        display: flex;flex-direction: column;
    }
    .content-right {
        display: none;
        position: fixed;top: $header-height;bottom: $footer-height;right: 0;width: $content-left-width;
        color: $content-right-color;
        background-color: $content-right-bg-color;
    }
}
.page {
    &.page-has-left-panel .content {
        .content-main {left: $content-left-width;}
        .content-left {display: block;}
    }
    &.page-has-right-panel .content {
        .content-main {right: $content-right-width;}
        .content-right {display: block;}
    }
}

@media screen and (max-width: $mobile-w) {
    .content {
        .content-wrapper {
            display: flex;
            flex-direction: column;
        }
        .content-left {
            display: none;
            position: initial;top: $header-height;bottom: $footer-height;left: 0;width: $content-left-width;
        }
        .content-main {
            position: initial;
            flex: 1;
        }
        .content-right {
            display: none;
            position: initial;top: $header-height;bottom: $footer-height;right: 0;width: $content-left-width;
        }
    }
}
