.content {
    overflow: hidden;
    height: 100%;width: 100%;
    padding-top: $header-height;
    padding-bottom: $footer-height;
    color: $content-color;
    background-color: $content-bg-color;
    display: flex;
    flex-direction: column;
    .content-wrapper {
        flex: 1;display: flex;height: 100%;width: 100%;align-items: flex-start;justify-content: flex-start;
    }
    .content-left {
        display: none;
        overflow: auto;
        height: 100%;
        width: $content-left-width;
        color: $content-left-color;
        background-color: $content-left-bg-color;
    }
    .content-main {
        overflow: visible;
        height: 100%;
        flex: 1;
        color: $content-main-color;
        background-color: $content-main-bg-color;
        display: flex;flex-direction: column;
        > div {
            margin: $mapa/4  0;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .content-right {
        display: none;
        overflow: auto;
        height: 100%;
        width: $content-left-width;
        color: $content-right-color;
        background-color: $content-right-bg-color;
    }
}
.page {
    &.page-has-left-panel .content {
        .content-main {left: $content-left-width;}
        .content-left {display: block;}
    }
    &.page-has-right-panel .content {
        .content-main {right: $content-right-width;}
        .content-right {display: block;}
    }
}

@media screen and (max-width: $table-w) {
    .content {
        .content-wrapper {
        }
        .content-left {
            width: $tablet-content-left-width;
        }
        .content-main {
        }
        .content-right {
            width: $tablet-content-right-width;
        }
    }
}
@media screen and (max-width: $mobile-w) {
    .content {
        .content-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .content-left {
            display: none;
            height: initial;
            width: 100%;
        }
        .content-main {
            flex: 1;
            width: 100%;
        }
        .content-right {
            height: initial;
            width: 100%;
        }
    }
}
