.ezy-maps {
    $ezy-maps-autocomplete-top: 10px;
    $ezy-maps-autocomplete-right: 53px;
    $ezy-maps-autocomplete-input-w: 200px;
    $ezy-maps-info-panel-color: #000;
    $ezy-maps-info-panel-bg-color: rgba(256,256,256,5);
    flex: 1;display: flex;flex-direction: column;align-items: center;justify-content: center;
    position: relative;
    .ezy-maps-container {
        flex: 1;width: 100%;
    }
    .ezy-autocomplete {
        position: absolute;
        top: $ezy-maps-autocomplete-top;
        right: $ezy-maps-autocomplete-right;
        input {
            width: $ezy-maps-autocomplete-input-w;
            height: 34px;
        }
        button {
            height: 34px;
        }
    }
    .ezy-maps-info-panel {
        display: none;
        position: absolute;
        top: $ezy-maps-autocomplete-top + $button-height + $mapa/3;
        right: $ezy-maps-autocomplete-right;
        width: $ezy-maps-autocomplete-input-w + 35px;
        color: $ezy-maps-info-panel-color;
        background-color: $ezy-maps-info-panel-bg-color;
        > * {width: 100%;}
        .ezy-maps-info-panel-photos {
            flex: 1;
        }
        .ezy-maps-info-panel-detail {
            .ezy-maps-info-panel-place-name {
                font-weight: 600;
                padding: $mapa/6;
                display: flex;align-items: flex-end;justify-content: flex-start;
                .ezy-maps-info-panel-place-icon {
                    display: inline-block;
                    display: none;
                    height: $icon-height;
                    width: $icon-height;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    box-shadow: $shadow;
                    margin: 0 $mapa/2 0 0;
                }
            }
            .ezy-maps-info-panel-place-address {
                padding: $mapa/6;
                font-style: italic;
            }
        }
        &.open {
            display: flex !important;flex-direction: column;align-items: flex-start;justify-content: flex-start;
        }
    }
}
