.ezy-grid {
    color: $grid-color;
    background-color: $grid-bg-color;
    overflow: hidden;flex: 1;
    display: flex;align-items: flex-start;justify-content: flex-start;flex-direction: column;
    > * {width: 100%;}
    .ezy-grid-wrapper {
        overflow-y: hidden;
        overflow-x: auto;
        flex: 1;display: flex;align-items: flex-start;justify-content: flex-start;flex-direction: column;
    }
    .ezy-grid-control {
        display: flex;align-items: center;justify-content: flex-start;
        margin-bottom: $mapa/3;
        i {cursor: pointer;}
    }
    .ezy-grid-control-page-size {
        display: flex;align-items: center;
        input {
            width: 33px;
            padding: 0 $mapa/4;
            margin-right: 3px;
            text-align: center;
        }
    }
    .ezy-grid-control-pagination {
        display: flex;align-items: center;justify-content: flex-start;
        .ezy-select {width: 45px;}
        input {
            padding: 0 $mapa/4;
        }
    }
    .ezy-grid-header {
        width: 100%;
    }
    .ezy-grid-filters {
        display: flex;justify-content: space-between;
        align-items: center;
        margin-bottom: $mapa/2;
        color: $grid-filters-color;
        background-color: $grid-filters-bg-color;
    }
    .ezy-grid-body {
        flex: 1;overflow: auto;
        .ezy-grid-card {
            padding: $mapa/3;
            display: inline-block;
            overflow: hidden;
            .ezy-grid-card-wrapper {
                padding: $mapa/3;
                img {
                    width: 100%;
                    box-shadow: $shadow;
                }
            }
            &:nth-child(odd) {
                color: $grid-card-odd-color;
                background-color: $grid-card-odd-bg-color;
            }
            &:nth-child(even) {
                color: $grid-card-even-color;
                background-color: $grid-card-even-bg-color;
            }
            &:hover, &.selected {
                color: $grid-card-hover-color;
                background-color: $grid-card-hover-bg-color;
            }
        }
    }
}
