.ezy-grid {
    color: $table-color;
    background-color: $table-bg-color;
    overflow: hidden;flex: 1;
    display: flex;align-items: flex-start;justify-content: flex-start;flex-direction: column;
    > * {width: 100%;}
    .ezy-grid-wrapper {
        overflow-y: hidden;
        overflow-x: auto;
        flex: 1;display: flex;align-items: flex-start;justify-content: flex-start;flex-direction: column;
        border: 1px solid $table-bd-color;
    }
    .ezy-grid-control {
        display: flex;align-items: center;justify-content: flex-start;
        margin-bottom: $mapa/3;
        i {cursor: pointer;}
    }
    .ezy-grid-control-page-size {
        display: flex;align-items: center;
        input {
            width: 33px;
            padding: 0 $mapa/4;
            margin-right: 3px;
            text-align: center;
        }
    }
    .ezy-grid-control-pagination {
        display: flex;align-items: center;justify-content: flex-start;
        .ezy-select {width: 45px;}
        input {
            padding: 0 $mapa/4;
        }
    }
    .ezy-grid-header {
        width: 100%;
    }
    .ezy-grid-filters {
        display: flex;justify-content: space-between;
        align-items: center;
    }
    .ezy-grid-body {
        flex: 1;overflow: auto;
        .ezy-grid-card {
            &:nth-child(odd) {
                color: $table-row-odd-color;
                background-color: $table-row-odd-bg-color;
            }
            &:nth-child(even) {
                color: $table-row-even-color;
                background-color: $table-row-even-bg-color;
            }
            &:hover {
                color: $table-row-hover-color;
                background-color: $table-row-hover-bg-color;
            }
        }
    }
}
