.header {
    overflow: visible;
    position: fixed;top: 0;right: 0;left: 0;height: $header-height;
    color: $header-color;
    background-color: $header-bg-color;
    display: flex;align-items: center;justify-content: center;
    z-index: 1;
    i {cursor: pointer;}
    > * {
        margin: 0 $mapa/4;
    }
    .app-name {
        h1,h2,h3,h4 {
            font-size: 18px;
            margin: 0;
            padding: 0;
        }
    }
    .ezy-button {
        @extend .white;
        margin: 0 $mapa/4;
    }
    .app-search.open input {
        border-width: 0px;
    }
}
@media screen and (max-width: $mobile-w) {
    .header {
        > * {
            margin: 0;
        }
        .ezy-button {
            margin: 0 0;
            padding: 0 $mapa/4.5;
        }
        .app-search.open {
            position: absolute;
            right: 0;
        }
    }
}
