html,body,#application,.page {
    position: fixed;top: 0;right: 0;bottom: 0;left: 0;
    display: flex;flex: 1;
}
body {
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
    background-color: $bg-color;
    margin: 0;padding: 0;
    * {box-sizing: border-box;}
    a {
        text-decoration: none;
        color: inherit;
        i {cursor: pointer;}
        &:hover {
            text-decoration: none;
            color: inherit;
        }
    }
    input[type=text],input[type=number],input[type=password],input[type=url],input[type=email] {
        border: 1px solid $input-bd-color;margin: 0;padding: 0 3px;
        outline: none;
        height: $input-height;
        font-size: $font-size;
        vertical-align: top;
        box-shadow: 1px 3px 7px rgba(0,0,0,0.3);
    }
    table {
        border-spacing: 0;
    }
    tr {
    }
    th, td {
        padding: 3px;
        margin: 0;
        vertical-align: middle;
        text-align: left;
    }
}
.space {
    flex: 1;
}

@import "./button";
@import "./checkbox";
@import "./select";
@import "./search-form";
@import "./chart";

@import "./table";

@import "./applinks";
@import "./userbox";
@import "./messages";
@import "./modals";

@import "./header";
@import "./content";
@import "./footer";
@import "./page";
