.modals {
    height: 0;width: 0;
    position: absolute;
    top: -1px;left: -1px;
    .modal {
        position: fixed;top: 0;right: 0;bottom: 0;left: 0;
        display: flex;align-items: center;justify-content: center;
        z-index: 1;
        background-color: rgba(0,0,0,.3);
        .modal-content {
            position: relative;
            min-width: 300px;
            margin: 0;padding: 0;border-radius: 0;border: none;
            .modal-close-icon {
                font-size: 16px;
                position: absolute;top: -8px;right: -8px;
                border-radius: 50%;
                color: #fff;
                background-color: #000;
                cursor: pointer;
                box-shadow: $shadow;
                &:hover {
                    box-shadow: $shadow-hover;
                }
            }
            .modal-header {
                margin: 0;border-radius: 0;border: none;
                padding: 0;
            }
            .modal-body {
                margin: 0;border-radius: 0;border: none;
                padding: $mapa/2;border-top: 1px solid rgba(0,0,0,.3);
            }
            .modal-footer {
                margin: 0;padding: 0;border-radius: 0;border: none;
            }
            .modal-title {
                cursor: move;
                padding: $mapa/2;
            }
        }
    }
}
@media screen and (max-width: $mobile-w) {
    .modals .modal .modal-content {
        min-width: initial;
        width: 100%;
    }
    .modals .modal .modal-content .modal-close-icon {
        display: none;
    }
}
