.ezy-select {
    position: relative;display: inline-block;
    .ezy-select-text {
        height: $select-option-height;
        background-color: #fff;
        border: 0px solid $select-options-bd-color;
        box-shadow: $shadow;
        display: flex;align-items: center;justify-content: flex-start;
        min-width: 24px;
        cursor: pointer;
        > input {
            padding: 0 $mapa/4 - 1px !important;
            height: $select-option-height - 2px !important;
            border: none !important;
            width: 100%;
        }
        > div {
            padding: 0 $mapa/4;
        }
    }
    .ezy-select-options {
        position: absolute;top: $select-option-height;z-index: 1;
        min-width: 100%;
        max-height: $select-option-height * 8;
        overflow-y: auto;
        box-shadow: $shadow;
    }
    .ezy-select-option {
        cursor: pointer;height: 24px;padding: 0 $mapa/4;
        display: flex;align-items: center;justify-content: flex-start;
        color: $select-options-color;
        background-color: $select-options-bg-color;
        &:hover {
            color: $select-options-color-hover;
            background-color: $select-options-bg-color-hover;
        }
        &.selected {
            color: $select-options-color-hover;
            background-color: $select-options-bg-color-hover;
        }
    }
}
