$mobile-w: 736px;
$table-w: 1024px;

$font-family: Helvetica, Arial, sans-serif;
$font-size: 12px;
$line-height: 24px;
$input-height: 31px;
$button-height: 31px;
$icon-height: $line-height;

$mapa: $line-height;

$header-height: 44px;
$toolbar-height: 44px;
$footer-height: 22px;
$messages-box-width: 350px;

$content-left-width: 270px;
$tablet-content-left-width: 180px;
$content-right-width: 270px;
$tablet-content-right-width: 180px;

$app-links-width: $content-left-width;

$select-option-height: 32px;

$table-line-height: $button-height;
$table-columns-settings-list-width: $content-left-width;

$chatbox-height: 280px;
$chatbox-width: 120px;
$chatbox-full-width: 240px;
$chatbox-title-height: 33px;

$people-list-width: 180px;
