$font-family: Helvetica, Arial, sans-serif;
$font-size: 12px;
$line-height: 24px;
$input-height: 31px;
$button-height: 31px;

$mapa: 24px;

$header-height: 44px;
$toolbar-height: 44px;
$footer-height: 22px;
$messages-box-width: 350px;

$content-left-width: 270px;
$content-right-width: 270px;

$app-links-width: $content-left-width;

$select-option-height: 32px;

$table-columns-settings-list-width: $content-left-width;

$mobile-w: 480px;

$chatbox-height: 280px;
$chatbox-width: 120px;
$chatbox-full-width: 240px;
$chatbox-title-height: 33px;

$people-list-width: 180px;
