$font-family: Helvetica, Arial, sans-serif;
$font-size: 12px;
$line-height: 1.5;
$input-height: 24px;

$mapa: 24px;

$header-height: 44px;
$toolbar-height: 44px;
$footer-height: 22px;
$messages-box-width: 300px;

$content-left-width: 270px;
$content-right-width: 270px;

$app-links-width: 270px;

$select-option-height: 24px;
