npm install -g gulp@^3.9.1 pm2 babel-cli@^6.26.0 node-gyp@^3.6.2

npm install -D babel-cli@^6.26.0
npm install -D babel-core@^6.26.0
npm install -D babel-loader@^7.1.2
npm install -D babel-plugin-transform-runtime@^6.23.0
npm install -D babel-polyfill@^6.26.0
npm install -D babel-preset-env@^1.6.0
npm install -D babel-preset-es2015@^6.24.1
npm install -D babel-preset-react@^6.24.1
npm install -D babel-preset-stage-0@^6.24.1
npm install -D babel-register@^6.26.0
npm install -D babel-runtime@^6.26.0
npm install -D babelify@^7.3.0
npm install -D browserify@^14.4.0
npm install -D express@^4.15.4
npm install -D gulp@^3.9.1
npm install -D gulp-autoprefixer@^4.0.0
npm install -D gulp-babel@^7.0.0
npm install -D gulp-clean@^0.3.2
npm install -D gulp-concat@^2.6.1
npm install -D gulp-connect@^5.0.0
npm install -D gulp-inject@^4.2.0
npm install -D gulp-livereload@^3.8.1
npm install -D gulp-rename@^1.2.2
npm install -D gulp-replace@^0.6.1
npm install -D gulp-sass@^3.1.0
npm install -D gulp-sourcemaps@^2.6.0
npm install -D gulp-uglify@^3.0.0
npm install -D gulp-webserver@^0.9.1
npm install -D gutil@^1.6.4
npm install -D run-sequence@^2.0.0
npm install -D vinyl-buffer@^1.0.0
npm install -D vinyl-source-stream@^1.1.0npm

npm install -S axios@^0.16.2
npm install -S dateformat@^2.0.0
npm install -S lodash@^4.17.4
npm install -S object-assign@^4.1.1
npm install -S react@^15.6.1
npm install -S react-cookies@^0.1.0
npm install -S react-dom@^15.6.1
npm install -S react-dropzone@^3.13.3
npm install -S react-modal@^2.2.2
npm install -S react-redux@^5.0.5
npm install -S react-router@^4.1.2
npm install -S redux@^3.7.2
npm install -S redux-saga@^0.15.5
npm install -S redux-thunk@^2.2.0
npm install -S sync-request@^4.1.0
npm install -S uuid@^3.1.0
npm install -S when@^3.7.8npm install

npm rebuild node-sass --force
