<!DOCTYPE HTML>
<html lang="en-us">
<head>

<title>{apptitle}</title>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="{appdescription}"/>

<link href="{baseurl}/static/material/material-icons.css" rel="stylesheet"/>
<link href="{baseurl}/static/jquery/jquery-ui/jquery-ui.min.css" rel="stylesheet"/>
<link href="{baseurl}/static/jquery/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet"/>
<link href="{baseurl}/static/jquery/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet"/>

<!-- inject:css -->
<!-- endinject -->

<script src="{baseurl}/static/jquery/jquery-ui/external/jquery/jquery.js"></script>
<script src="{baseurl}/static/jquery/jquery-ui/jquery-ui.min.js"></script>
<script src="{baseurl}/static/{appname}/js/config.js"></script>

</head>
<body>

<div id="application-500" class="container-fluid"></div>

<!-- inject:js -->
<!-- endinject -->

</body>
</html>
