<!DOCTYPE HTML>
<html lang="en-us">
<head>

<title>Demo</title>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="{appdesc}"/>

<link href="{base}/static/material/material-icons.css" rel="stylesheet"/>
<link href="{base}/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
<link href="{base}/static/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
<link href="{base}/static/jquery/jquery-ui/jquery-ui.min.css" rel="stylesheet"/>
<link href="{base}/static/jquery/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet"/>
<link href="{base}/static/jquery/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet"/>

<!-- inject:css -->
<!-- endinject -->

<script src="{base}/static/jquery/jquery-ui/external/jquery/jquery.js"></script>
<script src="{base}/static/jquery/jquery-ui/jquery-ui.min.js"></script>
<script src="{base}/static/bootstrap/js/tether.min.js"></script>
<script src="{base}/static/bootstrap/js/bootstrap.min.js"></script>
<script src="{base}/static/canvasjs/canvasjs.min.js"></script>

<script src="{base}/static/{appname}/js/config.js"></script>

</head>
<body>

<div id="application-500" class="container-fluid"></div>

<!-- inject:js -->
<!-- endinject -->

</body>
</html>
