$color: #24292e;
$background-color: #ffffff;

$header-color: #ffffff;
$header-background-color: #24292e;
$footer-color: #ffffff;
$footer-background-color: #24292e;
$content-color: #24292e;
$content-background-color: #ffffff;
$content-left-color: #24292e;
$content-left-background-color: #ffffff;
$content-main-color: #24292e;
$content-main-background-color: #ffffff;
$content-right-color: #24292e;
$content-right-background-color: #ffffff;
$messages-color: #ffffff;
$messages-background-color: transparent;

$primary1: #ffffff;
$primary2: #000000;
