$rgba: rgba(0,0,0,.3);
$shadow: 1px 3px 8px $rgba;
$shadow-hover: 1px 5px 8px $rgba;

$primary1: #fff;
$primary2: #000;

$color: #000;
$bg-color: #fff;
$bd-color: #ccc;

$header-color: #fff;
$header-bg-color: #000;

$footer-color: #fff;
$footer-bg-color: #000;

$content-color: #000;
$content-bg-color: #fff;
$content-left-color: #000;
$content-left-bg-color: #fff;
$content-main-color: #000;
$content-main-bg-color: #fff;
$content-right-color: #000;
$content-right-bg-color: #fff;

$message-color: #000;
$message-error-color: #fff;
$message-warning-color: #fff;
$message-bg-color: #2cafff;
$message-error-bg-color: #f93434;
$message-warning-bg-color: #d4c824;

$app-links-color: #fff;
$app-links-color-hover: #000;
$app-links-bg-color: rgba(0,0,0,.95);
$app-links-bg-color-hover: rgba(256,256,256,.95);
$app-links-border-color: #fff;

$select-options-color: #000;
$select-options-color-hover: #fff;
$select-options-bd-color: #000;
$select-options-bg-color: rgba(256,256,256,.95);
$select-options-bg-color-hover: rgba(0,0,0,.95);

$table-color: #000;
$table-bg-color: #fff;
$table-bd-color: $bd-color;
$table-row-header-color: #fff;
$table-row-header-bg-color: rgba(0,0,0,.4);
$table-row-header-group-color: #000;
$table-row-header-group-bg-color: #fff;
$table-row-header-filters-color: #000;
$table-row-header-filters-bg-color: #eee;
$table-row-odd-color: #000;
$table-row-odd-bg-color: rgba(0,0,0,.05);
$table-row-even-color: #000;
$table-row-even-bg-color: rgba(0,0,0,.15);
$table-row-hover-color: #000;
$table-row-hover-bg-color: rgba(0,0,0,.2);
$table-cell-hover-color: #000;
$table-cell-hover-bg-color: #fff;
$table-columns-settings-list-color: #000;
$table-columns-settings-list-bg-color: #fff;
$table-columns-settings-item-color: #fff;
$table-columns-settings-item-bg-color: #000;

$chatbox-color: #000;
$chatbox-bg-color: #fff;
$chatbox-title-color: #000;
$chatbox-title-bg-color: #e8e8e8;

$input-bd-color: rgba(0,0,0,.3);

$button-color: #000017;
$button-bg-color: #e8e8e8;

$people-item-color: #000;
$people-item-bg-color: #eee;
$people-item-hover-color: #000;
$people-item-hover-bg-color: #ccc;

$black-color: #000;
$black-bg-color: #fff;

$white-color: #fff;
$white-bg-color: #000;

.black {
    color: $black-color;
    background-color: $black-bg-color;
    &:hover {
        @extend .white;
    }
}
.white {
    color: $white-color;
    background-color: $white-bg-color;
    &:hover {
        @extend .black;
    }
}
